/*insight table公共统一覆盖样式*/
//.meg-table {
//  color: #435068 !important;
//  // 移除，统一用组件库中table header字色
//  // .meg-table__header .cell {
//  //   color: #8a97a0 !important;
//  // }
//}

//message
.meg-message {
  top: 60px !important;
}
/*switch统一样式修改*/
$--switch-on-color: #99bc6f;
// table左边距
$--table-left-padding: 18px;

//全局颜色
$--color-text-primary: #3985dd;

.meg-export-button-dropdown.meg-popper[x-placement^=bottom]{
  margin-top: 0px;
}
.meg-select-dropdown.meg-popper[x-placement^=bottom]{
  margin-top: 6px;
}
// .meg-treeselect__reference {
//   right: 10px !important;
// }
//.meg-range-input {
//  font-size: 13px !important;
//}
