
@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin fill {
  @include size(100%);
}
// flex布局常用配置
@mixin flex-base($direction:row){
  display: flex;
  flex-direction: $direction;
  align-items: center;
}
@mixin flex-fill($direction:row) {
  @include flex-base($direction);
  @include fill;
}
// n行超长显示...
@mixin n-line-ellipsis($n:1){
  overflow: hidden;
  text-overflow: ellipsis;
  // 对于1行的语句超长，此方式兼容性较好，也更通用
  @if $n==1{
    display: block;
    white-space: nowrap;
  }
  @if $n>1{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$n;
    word-break: break-all; // 加上word-break才会对英文生效
  }
}
// 文字居中
@mixin text-center($height){
  text-align: center;
  line-height: $height;
}

@mixin circle($size:100%){
  width: $size;
  height: $size;
  border-radius: 50%;
}
// 滚动条样式
@mixin scroll-bar($width:5px,$bar-color:lightgray){
  overflow-y: auto;
  overflow-x: hidden;
  /*滚动条整体样式*/
  &::-webkit-scrollbar {
    width: $width;
    height: 0;
  }
  /*滚动条里面小方块*/
  &::-webkit-scrollbar-thumb {
     -webkit-appearance: none;
    border-radius: $width;
    background: $bar-color;
  }
  // /*hover显示滚动条样式*/
  // &:hover::-webkit-scrollbar-thumb {
  //   background: $bar-color;
  // }
}
