$browser-default-font-size: 16px !default;

$title-font-family: "FZRUIZHK_DA--GBK1-0";

$img-root: '~@/assets/images/dashboard';
$number-font: 'AgencyFB';
$font-color: #B4D9FA;
$font-color-count: #C1E4FF;
$card-title-color:#C7E3FC; // 案件详情卡片，案件类型字体颜色
$font-color-history:#E5F6FF;
$title-color: #EAF5FF;
$tip-color: rgba($font-color,.7);
$ring-bg-color: #121E66;
$notice-color: #F05353;
$img-border-color: #0F4382;
$img-bg-color: #060B4D;